In [7]:
%load_ext sql
import os

curr_dir = os.getcwd()
guesses_path = os.path.join(curr_dir, "data/guesses.db")
questions_path = os.path.join(curr_dir, "data/questions.db")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%sql sqlite:///data/guesses.db

'Connected: None@data/guesses.db'

In [15]:
%sql PRAGMA table_info("guesses")

Done.

cid,name,type,notnull,dflt_value,pk
0,fold,TEXT,0,None,1
1,question,INTEGER,0,None,2
2,sentence,INTEGER,0,None,3
3,token,INTEGER,0,None,4
4,page,TEXT,0,None,5
5,guesser,TEXT,0,None,6
6,feature,TEXT,0,None,7
7,score,NUMERIC,0,None,0

In [16]:
%sql SELECT * FROM "guesses" LIMIT 5

Done.

fold,question,sentence,token,page,guesser,feature,score
dev,4580,3,0,Mark Twain,deep,0,2.224870997939481e-05
dev,4580,3,0,Paul CÃ©zanne,deep,0,4.790591485569423e-08
dev,4580,3,0,Thomas Pynchon,deep,0,1.6371029634165385e-07
dev,4580,3,0,We (novel),deep,0,7.051264373232002e-06
dev,4580,3,0,Duino Elegies,deep,0,0.00016152867014854771

In [17]:
%sql sqlite:///data/questions.db

'Connected: None@data/questions.db'

In [18]:
%sql PRAGMA table_info("questions")

Done.

cid,name,type,notnull,dflt_value,pk
0,id,integer,0,None,1
1,category,text,0,None,0
2,page,text,0,None,0
3,answer,text,0,None,0
4,tournament,text,0,None,0
5,type,text,0,None,0
6,naqt,integer,0,None,0
7,fold,TEXT,0,None,0
8,gender,TEXT,0,unknown,0

In [19]:
%sql SELECT * FROM "questions" LIMIT 5

Done.

id,category,page,answer,tournament,type,naqt,fold,gender
1,Fine_Arts,Thomas Cole,thomas cole,1999 ACF Regionals,people,-1,train,male
2,Fine_Arts,Jean-Honore Fragonard,jeanhonore fragonard,1999 ACF Regionals,people,-1,dev,male
3,Fine_Arts,Holy Trinity (Masaccio),holy trinity,1999 ACF Regionals,work,-1,train,non_person
4,Fine_Arts,Rococo,rococo,1999 ACF Regionals,work,-1,dev,non_person
5,Fine_Arts,The Swing (painting),swing,1999 ACF Regionals,work,-1,train,non_person